# Installing libraries

In [3]:
%pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /opt/homebrew/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.2.5/libexec/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.2.5/libexec/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /opt/homebrew/lib/python3.12/site-packages (1.4.2)
Collecting scikit-learn
  Downloading scikit_learn-1.5.1-cp312-cp312-macosx_12_0_arm64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in /opt/homebrew/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /opt/homebrew/lib/python3.12/site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/homebrew/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Downloading scikit_learn-1.5.1-cp312-cp312-macosx_12_0_arm64.whl (11.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.0/11.0 MB 7.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.4.2
    Not uninstalling scikit-learn at /opt/homebrew/lib/python3.12/site-packages, outside environment /opt/homebrew/Cellar/jupyterlab/4.2.5/libexec
    Can't uninstall 'scikit-learn'. No files were found to uninstall.
Successfully installed scikit-learn-1.5.1
Note: you may need to restart the kernel to use updated packages.

# Importing data

In [2]:
import pandas as pd

data = pd.read_csv("melb_data.csv")

# Cleaning data

Looking inside the dataset you can see there are some missing values in the dataset. The easiest way ( although not alway the best) is to drop the missing values.

In [2]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
data = data.dropna(axis=0)

In [4]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

# Choosing prediction target and features

To choose a prediction target and features we will use for our prediction model first we need to see the avaible data. To do that in a more readable way we can provide list of column names.

In [5]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Then using a dot notation we will select the column that will represent our prediction target - **y**.

In [6]:
y = data.Price

Using brackets we will select multiple columns as our features - **x**.

In [7]:
features = ['Rooms', 'Landsize', 'Bathroom', 'Lattitude', 'Longtitude']
x = data[features]

For quick data review we can use *describe()* method - it generates descriptive statistics.

In [8]:
x.describe()

             Rooms      Landsize     Bathroom    Lattitude   Longtitude
count  6196.000000   6196.000000  6196.000000  6196.000000  6196.000000
mean      2.931407    471.006940     1.576340   -37.807904   144.990201
std       0.971079    897.449881     0.711362     0.075850     0.099165
min       1.000000      0.000000     1.000000   -38.164920   144.542370
25%       2.000000    152.000000     1.000000   -37.855438   144.926198
50%       3.000000    373.000000     1.000000   -37.802250   144.995800
75%       4.000000    628.000000     2.000000   -37.758200   145.052700
max       8.000000  37000.000000     8.000000   -37.457090   145.526350

# Creating ML Model

One of the most basic ML Model is Decision Tree - it has a hierarchical, tree structure, which consists of a root node, branches, internal nodes and leaf nodes.
As seen above the data that we use both as a prediction target as well as features consists of contines numerical values. Because of that we will use *DecisonTreeRegressor* form scikit-learn library.

In [9]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state = 0)

Before we train our model it is a good time to divide our data into two subsets - one for training and one for testing. Failing to do so will lead to overfitting. One of the easiest method for random data spliting is *train_test_split* helper function.

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

Now, we can train our model using training subset and predict and output for our testing data.

In [11]:
model.fit(x_train, y_train)
prediction = model.predict(x_test)

Finally, we can use our *y_test* values and prediction output for *x_test* to score our model using *mean_absolute_error* and regression score.

In [13]:
from sklearn.metrics import mean_absolute_error, r2_score

mae = mean_absolute_error(y_test, prediction)
r2score = r2_score(y_test, prediction)
print(f'{mae=} {r2score=}')

mae=258948.75094136634 r2score=0.5426377461272052

In [17]:
from sklearn.ensemble import RandomForestRegressor

model2 = RandomForestRegressor(n_estimators = 200)

model2.fit(x_train, y_train)
prediction2 = model2.predict(x_test)
mae2 = mean_absolute_error(y_test, prediction2)
r2score2 = r2_score(y_test, prediction2)
print(f'{mae=} {r2score=}')

mae=258948.75094136634 r2score=0.5426377461272052